/* Estilo para o rodapé da página */

.footerBody {
    position: relative;
    display: flex;
    background: linear-gradient(#060429, rgb(0, 0, 0)) no-repeat;
    height: auto;
    flex-direction: column;
    z-index: 0;
    padding-top: 1vw;
}

.lastText {
    display: flex;
    color: #73a4c5;
    align-items: center;
    justify-content: center;
    font-size: max(10px, 1vw);
    width: fit-content;
    margin: auto;
    text-align: center;
    border-top: .1vw solid;
    padding: 5vw;
}

/* Ajuste de altura do rodapé para telas menores que 768px */
@media (max-width: 768px) {
    .footerBody {
        height: 60vh;
    }
}

/* Elemento visual de onda no rodapé */
.wave {
    background: #000;
    margin-bottom: -5px;
}

/* Estilo para o logotipo do rodapé */
.logoFooter {
    margin-top: 100px;
    width: 7rem;
    height: 7rem;
    position: relative;
    align-items: center;
    margin: auto;
    cursor: pointer;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    z-index: -1;
}

/* Estilo para um nome ou data no rodapé */
.dataName {
    width: fit-content;
    margin: 5vw auto;
    color: aliceblue;
    font-size: max(25px, 2vw);
}

/* Estilo para uma frase no rodapé */
.phrase {
    font-weight: 500;
    font-size: max(12px, 1vw);
    color: #4f758f;
    width: 100%;
    margin: auto;
    text-align: center;
    background: #00000028;
    padding: 5vw;
    margin-bottom: 3vw;
}

/* Estilo para links no rodapé */
a {
    color: #4f758f;
}

/* Estilo para a seção chamada "Squad" */
.squad {
    width: 50%;
    padding-left: 2%;
    margin-top: -30vh;
    padding-bottom: 30vh;
}

/* Estilo para o título da seção "Squad" */
.titleSquad {
    color: #35556bd2;
    font-size: max(20px, 1.2vw);
    margin-bottom: 2vh;
    margin-left: -3.5vh;
}

/* Estilo para links dentro da seção "Squad" */
.squad a {
    display: flex;
    font-size: max(10px, 1.8vh);
    color: #51748b8f;
    cursor: pointer;
}

/* Estilo para parágrafos dentro de links */
a p {
    padding: 0 1% 0 .5%;
    font-size: max(18px, 2vh);
    color: #6790ac;
    font-weight: 500;
    transition: 2000ms ease-in-out;
}

/* Efeito de transição ao passar o mouse sobre parágrafos de links */
a p:hover {
    font-size: max(25px, 2.3vh);
    transition: 1000ms ease-in-out;
    text-shadow: .5vh .5vh 5vh #bdceda;
}

/* Espaçamento à esquerda para elementos com a classe "dev2" */
.dev2 {
    padding-left: 4%;
}

/* Espaçamento à esquerda para elementos com a classe "dev3" */
.dev3 {
    padding-left: 8%;
}

/* Espaçamento à esquerda para elementos com a classe "dev4" */
.dev4 {
    padding-left: 4%;
}
